[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion

# IDE0061: Use block body for local function
dotnet_diagnostic.IDE0061.severity = suggestion
